@model A045PriceQuotation.Models.mainClass

@{
    ViewBag.Title = "approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your registration has been successfully approved by the Admin.</h2>

