@model A045PriceQuotation.Models.mainClass

@{
    ViewBag.Title = "productAdded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Your details have been submitted successfully.</h2>
<br />
<br />
@Html.ActionLink("Add New Product", "addProduct")
<br />
<br />
@Html.ActionLink("Product List", "productList")

