
@{
    ViewBag.Title = "quotationStatusPending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Price Quotation Status Pending</h2>

<h3>Vendor has not updated price quotation .</h3>

<br />
<br />

@Html.ActionLink("Go back to List", "userQuotation")
<br />
<br />
@Html.ActionLink("Go to Home Page", "userProductList")



