@model A045PriceQuotation.Models.pquotation

@{
    ViewBag.Title = "quotationSubmitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Price quotation Submitted</h2>

<br />

<h4>Waiting for the customer's confirmation.</h4>

<br />
<br />
<br />
@Html.ActionLink("Go Back To List", "productList")
