@model A045PriceQuotation.Models.pquotation

@{
    ViewBag.Title = "quotationRequested";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Price Quotation Requested.</h2>





<h4>Please wait for vendor's response.</h4>
<br />
<br />
<br />
@Html.ActionLink("Go Back To List", "userProductList")

